@implements IDialogContentComponent<Customer>
@inject ICustomerResposity context

<FluentDialogHeader ShowDismiss="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size20.AlbumAdd())" />
        <FluentLabel Typo="Typography.H5">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div style="height: 400px; overflow:auto;" tabindex="-1">
    <FluentStack Orientation="Orientation.Vertical">
        <FluentSearch @bind-Value=Search Style="width:400px" @bind-Value:after=LoadData></FluentSearch>
        <FluentDataGrid Items="@items"
                        TGridItem="Customer"
                        ResizableColumns=true
                        ShowHover="true"
                        HeaderCellAsButtonWithMenu="true"
                        Pagination="@pagination">

            <SelectColumn TGridItem="Customer"
                          SelectMode="@Mode"
                          SelectFromEntireRow="@SelectFromEntireRow"
                          Property="@(e => e.Selected)"
                          OnSelect="@(e => e.Item.Selected = e.Selected)">
            </SelectColumn>

            <PropertyColumn Width="120px" Property="@(p => p.CustomerCode)" Sortable="true" />
            <PropertyColumn Width="250px" Property="@(p => p.CustomerName)" Sortable="true" />
            <PropertyColumn Width="160px" Property="@(p => p.Address)" Sortable="true" />

        </FluentDataGrid>




    </FluentStack>

</div>

<FluentDialogFooter>
    <FluentPaginator State="@pagination" />
    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Checkmark())" OnClick="@SaveAsync">OK</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@code {

    [Parameter]
    public Customer Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    string Search = "";
    static IQueryable<Customer>? items;
   
    bool SelectFromEntireRow = true;
    DataGridSelectMode Mode = DataGridSelectMode.Single;

    PaginationState pagination = new PaginationState { ItemsPerPage = 20 };

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    protected async Task LoadData()
    {
        items = (await context.GetAll( "", Search)).AsQueryable();

    }

    private async Task SaveAsync()
    {
        Content = items!.Where(i => i.Selected).First();
        await Dialog.CloseAsync(Content);
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}
