@page "/labs"
@using LabManagement.Models.SaleModels
@attribute [Authorize]
@rendermode InteractiveServer
@inject IDialogService DialogService
@inject ISystemResposity context
@inject IJSRuntime JSRuntime
@inject IToastService ToastService

    <FluentStack Orientation="Orientation.Vertical" Width="100%">

        <FluentStack VerticalAlignment="VerticalAlignment.Center" Width="100%">

            <FluentButton IconStart="@(new Icons.Regular.Size24.AddSquare())" OnClick="@AddAsync">New</FluentButton>
            <FluentButton IconStart="@(new Icons.Regular.Size24.ArrowSquareDown())">Import</FluentButton>
            <FluentButton IconStart="@(new Icons.Regular.Size24.TableArrowUp())">Export</FluentButton>
            <FluentButton IconStart="@(new Icons.Regular.Size24.Print())">Print</FluentButton>
            <FluentSearch @bind-Value=Search Style="width:200px" @bind-Value:after=LoadData></FluentSearch>

        </FluentStack>

        @if (items == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {           
                <FluentDataGrid Items="@items" Style="font-size:10pt;"
                        TGridItem="LabInfo"
                ResizableColumns=true
                ShowHover="true"
                           RowStyle="@rowStyle"
                HeaderCellAsButtonWithMenu="true"
                RowSize="DataGridRowSize.Medium"
                Pagination="@pagination">
                    <PropertyColumn Title="" Width="0px" Property="@(p => p.RecID)" Sortable="true" IsDefaultSortColumn="true" />
                    <TemplateColumn Title="Lab Name" Width="100">
                        @if(context.IsUpdate==true)
                        {
                            <FluentTextField @ref="txtLabName" AutoComplete="off" @bind-Value="@context.LabName" Disabled="@(context.RecID==0?false:true)" Style="width:100px"></FluentTextField>
                        }
                        else{
                    <FluentLabel Style="width:100px">@context.LabName</FluentLabel>
                        }

                    </TemplateColumn>
                    <TemplateColumn Title="Address" Width="200">
                        @if(context.IsUpdate==true)
                        {
                            <FluentTextField AutoComplete="off" @bind-Value="@context.LabAddress" Style="width:200px"></FluentTextField>
                        }
                        else{
                    <FluentLabel Style="width:200px">@context.LabAddress</FluentLabel>
                        }
                    </TemplateColumn>


                     <TemplateColumn Title="Tel" Width="100">
                        @if(context.IsUpdate==true)
                        {
                            <FluentTextField AutoComplete="off" @bind-Value="@context.Tel" Style="width:100px"></FluentTextField>
                        }
                        else{
                    <FluentLabel Style="width:100px">@context.Tel</FluentLabel>
                        }
                    </TemplateColumn>
            <TemplateColumn Title="Website" Width="100">
                @if (context.IsUpdate == true)
                {
                    <FluentTextField AutoComplete="off" @bind-Value="@context.Website" Style="width:100px"></FluentTextField>
                }
                else
                {
                    <FluentLabel Style="width:100px">@context.Website</FluentLabel>
                }
            </TemplateColumn>
            <TemplateColumn Title="Email" Width="100">
                @if (context.IsUpdate == true)
                {
                    <FluentTextField AutoComplete="off" @bind-Value="@context.Email" Style="width:100px"></FluentTextField>
                }
                else
                {
                    <FluentLabel Style="width:100px">@context.Email</FluentLabel>
                }
            </TemplateColumn>
                    <TemplateColumn Title="Actions" Align="@Align.End">
                        @if(context.IsUpdate==true){
                            <FluentButton IconStart="@(new Icons.Regular.Size16.Save())" OnClick="@(() => SaveLineAsync(context))" />
                            <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowStepBack())" OnClick="@(() => CancelLineUpdate(context))" />  
                        }  
                        else{
                            <FluentButton IconStart="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => EditLineAsync(context))" />
                            <FluentButton IconStart="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => DeleteLineAsync(context))" />  
                        }                     

                    </TemplateColumn>

                </FluentDataGrid>
            
            <FluentPaginator State="@pagination" />
        }
    </FluentStack>

@code {
   
    FluentTextField? txtLabName;
    bool ShowList = true;
    IQueryable<LabInfo>? items;
    // IQueryable<Department>? departmentItems;
    
    string Search = "";

    bool SelectFromEntireRow = true;
    DataGridSelectMode Mode = DataGridSelectMode.Single;
    Func<LabInfo, string?> rowStyle = x => x.IsUpdate == true ? "background-color: #f9eda9" : null;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    [Parameter]
    public LabInfo Content { get; set; } = default!;
   
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        LoadData();
    }
    private async void LoadData()
    {      
        items = (await context.GetAllLabs(0,"", Search)).AsQueryable();
    }
    
    private async Task AddAsync()
    {
        Content = new LabInfo();
        //ShowList = false;
        List<LabInfo> newList = new List<LabInfo>();
            newList.Add(Content);
        
        Content.IsUpdate=true;
        items = items!.ToList().Concat(newList).AsQueryable();
    }

    private async Task EditLineAsync(LabInfo item)
    {
        foreach(var line in items)
        {
            if (line.IsUpdate == true) return;
        }
        //Content = item;
        //ShowList = false;
        item.IsUpdate = true;
    }

    private async Task SaveLineAsync(LabInfo item)
    {
        if(item.LabName==""){
            txtLabName!.Style = "background-color:#FFC300";
            txtLabName!.FocusAsync();
            ToastService.ShowWarning("Please input the name");    
            return;
        }
        
        await context.SaveLab(item);
        LoadData();
        item.IsUpdate = false;
    }

    private async Task CancelLineUpdate(LabInfo item)
    {        
        item.IsUpdate = false;
        LoadData();
    }

    private async Task DeleteLineAsync(LabInfo item)
    {

        if (item is null)
        {
            return;
        }

        var dialogParameters = new DialogParameters
            {
                Title = "Delete Item",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true
            };

        // var dialog = await dialogService.ShowDialogAsync<ConfirmationPanel>(dialogParameters);
        var dialog = await DialogService.ShowConfirmationAsync(
            "Are you sure you want to delete selected item?",
            "Yes",
            "No",
            "Delete Item?");
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var res = await context.DeleteLab(item.RecID);
            LoadData();
        }

    }





}

