@using LabManagement.Models.ProductionModels

<table style="border:1px solid #000;width:100%;height: 97%" cellspacing="0" cellpadding="5">
    <tr style="height:70px;">          
        <td colspan="2" style="border-bottom:1px solid #000">
            <span style="font-weight:bold;font-size:72pt">@Content.LabpanNum</span>
        </td>
        <td colspan="2" style="text-align:right;border-bottom:1px solid #000">
            <span style="font-weight:bold;font-size:72pt">@Content.ShipDate?.ToString("dd/MM")</span>
        </td>

    </tr>

    <tr style="height:50px;">
        <td>
            <span>Tên BN:</span>
        </td>
        <td>
            <span style="font-weight:bold">@Content.PatientName</span>
        </td>
        <td>
            <span></span>
        </td>
        <td>
            <span style="font-weight:bold">@Content.DoctorName</span>
        </td>
    </tr>
    <tr style="height:50px;">
        <td>
            <span>Số răng:</span>
        </td>
        <td>
            <span style="font-weight:bold">@Content.UsTeeth</span>
        </td>
        <td>
            <span>Tổng đơn vị</span>
        </td>
        <td>
            <span style="font-weight:bold">@Content.Quantity</span>
        </td>
    </tr>
    <tr style="height:50px;">
        <td style="border-bottom:1px solid #000">
            <span>Sản phẩm:</span>
        </td>
        <td style="border-bottom:1px solid #000">
            <span style="font-weight:bold">@Content.ItemName</span>
        </td>
        <td style="border-bottom:1px solid #000">
            <span>Màu</span>
        </td>
        <td style="border-bottom:1px solid #000">
            <span style="font-weight:bold">@Content.Shade</span>
        </td>
    </tr>

    <tr style="height:30px;">
        <td>
            <span>Yêu cầu:</span>
        </td>
        <td colspan="3" style="text-align:right">
            <span style="font-weight:bold">@Content.CustomerRequests</span>
        </td>

    </tr>

    <tr style="height:30px;">
        <td>
            <span>Case Name:</span>
        </td>
        <td colspan="3">
            <span style="font-weight:bold">@Content.CaseNo</span>
        </td>
    </tr>
    <tr style="height:150px;">       
        <td colspan="4" style="border-bottom:1px solid #000;vertical-align:top">
            <span style="font-weight:bold">@Content.WTNotes</span>
        </td>
    </tr>

    <tr style="height:50%">
        <td colspan="4">
            <table style="width:100%;height:100%">
                <tr><th width="15%">THÔNG TIN</th>
                    <th width="15%">MSNV</th>
                    <th width="15%">Ngày</th>
                    <th width="15%">MSNV</th>
                    <th width="15%">Ngày</th>
                    <th width="25%">Ghi chú</th>
                </tr>
                @foreach(var item in locations)
                {
                    <tr><td style="border-right:0.5px dashed #333">@item</td>
                        <td style="border-right:0.5px dashed #333"></td>
                        <td style="border-right:0.5px dashed #333"></td>
                        <td style="border-right:0.5px dashed #333"></td>
                        <td style="border-right:0.5px dashed #333"></td>
                        <td></td>
                    </tr>
                }
                
            </table>
        </td>
    </tr>
</table>

@code {
    [Parameter]
    public ProdTable Content { get; set; } = default!;

    private List<string> locations = new List<string> { "Dịch", "Model", "Design", "Mill", "Print",
    "Sườn KL", "Opaque", "Buildup", "Contour","Stain","QC","Packing" };

}
