@page "/product"
@using LabManagement.Components.Pages.Categories.Controls

@rendermode InteractiveServer
@inject IDialogService DialogService
@inject IProductResposity context
@inject ExportService exportService
@inject IJSRuntime JSRuntime
@inject IWebHostEnvironment _webHost;

<FluentMenuProvider @rendermode="RenderMode.InteractiveServer" />

@if (ShowList == true)
{
    <FluentStack Orientation="Orientation.Vertical" Width="100%">

        <FluentStack VerticalAlignment="VerticalAlignment.Center" Width="100%">

            <FluentButton IconStart="@(new Icons.Regular.Size24.AddSquare())" OnClick="@AddAsync">New</FluentButton>
            <FluentButton IconStart="@(new Icons.Regular.Size24.ArrowSquareDown())">Import</FluentButton>
            <FluentButton IconStart="@(new Icons.Regular.Size24.TableArrowUp())">Export</FluentButton>
            <FluentButton IconStart="@(new Icons.Regular.Size24.Print())">Print</FluentButton>
            <FluentSearch @bind-Value=Search Style="width:200px" @bind-Value:after=LoadData></FluentSearch>

        </FluentStack>

        @if (items == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div style="height: 600px; overflow:auto;" tabindex="-1">

                <FluentDataGrid Items="@FilteredItems"
                TGridItem="Product"
                ResizableColumns=true
                ShowHover="true"
                           RowStyle="@rowStyle"
                HeaderCellAsButtonWithMenu="true"
                RowSize="DataGridRowSize.Medium"
                Pagination="@pagination">
                    <PropertyColumn Width="80px" Property="@(p => p.ItemCode)" Sortable="true" />

                    <PropertyColumn Width="250px" Property="@(c => c.ItemName)" Sortable="true" Comparer="@StringLengthComparer.Instance" Filtered="!string.IsNullOrWhiteSpace(nameFilter)">
                        <ColumnOptions>
                            <div class="search-box">
                                <FluentSearch type="search" Autofocus=true @bind-Value=nameFilter @oninput="HandleUserNameFilter" AfterBindValue="HandleClear" Placeholder="employee name..." />
                            </div>
                        </ColumnOptions>
                    </PropertyColumn>
                    <TemplateColumn Title="Name Alias" Width="250">
                        @if(context.IsUpdate==true)
                        {
                            <FluentTextField AutoComplete="off" @bind-Value="@context.NameAlias" Style="width:250px"></FluentTextField>
                        }
                        else{
                            <FluentLabel Style="width:250px">@context.NameAlias</FluentLabel>
                        }
                    </TemplateColumn>

                     <TemplateColumn Title="Unit" Width="80">
                        @if(context.IsUpdate==true)
                        {
                          
                            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                                <FluentLabel Style="width:60px">@context.UnitID</FluentLabel>
                                <FluentButton IconStart="@(new Icons.Regular.Size16.TriangleDown())" OnClick="@(() => SelectUnit(context))" ></FluentButton>
                            </FluentStack>
                          
                        }
                        else{
                            <FluentLabel Style="width:100px">@context.UnitID</FluentLabel>
                        }
                    </TemplateColumn>
                   <TemplateColumn Title="Group" Width="150">
                        @if(context.IsUpdate==true)
                        {
                            <FluentTextField AutoComplete="off" @bind-Value="@context.PackagingGroup" Style="width:150px"></FluentTextField>
                        }
                        else{
                            <FluentLabel Style="width:150px">@context.PackagingGroup</FluentLabel>
                        }
                    </TemplateColumn>
                     <TemplateColumn Title="Bom Code" Width="150">
                        @if(context.IsUpdate==true)
                        {
                            <FluentTextField AutoComplete="off" @bind-Value="@context.BomCode" Style="width:150px"></FluentTextField>
                        }
                        else{
                            <FluentLabel Style="width:150px">@context.BomCode</FluentLabel>
                        }
                    </TemplateColumn>
                     <TemplateColumn Title="Bom ItemName" Width="150">
                        @if(context.IsUpdate==true)
                        {
                            <FluentTextField AutoComplete="off" @bind-Value="@context.BomItemName" Style="width:150px"></FluentTextField>
                        }
                        else{
                            <FluentLabel Style="width:150px">@context.BomItemName</FluentLabel>
                        }
                    </TemplateColumn>                   

                    <TemplateColumn Title="Actions" Align="@Align.End">
                        @if(context.IsUpdate==true){
                            <FluentButton IconStart="@(new Icons.Regular.Size16.Save())" OnClick="@(() => SaveLineAsync(context))" />
                            <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowStepBack())" OnClick="@(() => CancelLineUpdate(context))" />  
                        }  
                        else{
                            <FluentButton IconStart="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => EditLineAsync(context))" />
                            <FluentButton IconStart="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => DeleteLineAsync(context))" />  
                        }                     

                    </TemplateColumn>

                </FluentDataGrid>


            </div>
            <FluentPaginator State="@pagination" />
        }
    </FluentStack>
}
else
{
    <div style="margin-left:20px;width:600px;">

        <FluentStack Orientation="Orientation.Vertical" VerticalGap="20">


            <FluentStack Orientation="Orientation.Horizontal">

                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextField Label="Item Code" @bind-Value="@Content.ItemCode" />
                    <FluentTextField Label="Item Name" @bind-Value="@Content.ItemName" />
                    <FluentTextField Label="Name Alias" @bind-Value="@Content.NameAlias" Style="width:250px" />

                    @*  <FluentSelect TOption="Department"
                                              Label="Department"
                                              Placeholder="Select a Department"
                                              Items="@departmentItems"
                                              Width="200px"
                                              Height="250px"
    using LabManagement.Components.Pages.Categories.Controls;
                                              OptionValue="@(i => i.DeptID)"
                                              OptionText="@(i => i.DeptName)"
                                              @bind-Value="@Content.DeptID">

                                </FluentSelect> *@

                </FluentStack>

                <FluentStack Orientation="Orientation.Vertical">

                    <FluentSelect TOption="ProductUnit"
                        Label="Select a Unit"
                        Items="@unitItems"                        
                        Width="100px"
                        Height="250px"
                        Placeholder="Make a selection..."
                        OptionValue="@(p => p.UnitID)"
                        OptionText="@(p => p.UnitEn)"
                        @bind-Value="@Content.UnitID"/>

                    <FluentTextField Label="PackagingGroup" @bind-Value="@Content.PackagingGroup" />
                    <FluentTextField Label="BomCode" @bind-Value="@Content.BomCode" />
                    <FluentTextField Label="BomItemName" @bind-Value="@Content.BomItemName" />

                </FluentStack>
            </FluentStack>

            <FluentStack VerticalAlignment="VerticalAlignment.Center" Width="100%">
                <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Save())" OnClick="@SaveAsync">Save</FluentButton>
                <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
            </FluentStack>
        </FluentStack>

    </div>

}

@code {

    bool ShowList = true;

    IQueryable<Product>? items;
    // IQueryable<Department>? departmentItems;
    IQueryable<ProductUnit>? unitItems;
    string Search = "";

    bool SelectFromEntireRow = true;
    DataGridSelectMode Mode = DataGridSelectMode.Single;
    Func<Product, string?> rowStyle = x => x.IsUpdate == true ? "background-color: #f9eda9" : null;

    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    [Parameter]
    public Product Content { get; set; } = default!;

    string nameFilter = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        LoadData();
    }
    private async void LoadData()
    {
        //departmentItems = (await context.GetAllDepartment("", "")).AsQueryable();
        items = (await context.GetAll(0,"", Search)).AsQueryable();
        unitItems =(await context.GetAllUnits(0,"", Search)).AsQueryable();        
    }

    IQueryable<Product>? FilteredItems => items?.Where(x => x.ItemName.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));

    private void HandleUserNameFilter(ChangeEventArgs args)
    {
        if (args.Value is string value)
        {
            nameFilter = value;
        }
    }
    private void HandleClear()
    {
        if (string.IsNullOrWhiteSpace(nameFilter))
        {
            nameFilter = string.Empty;
        }
    }

    private async Task CancelAsync()
    {
        ShowList = true;
    }
    private async Task AddAsync()
    {
        Content = new Product();
        ShowList = false;
    }
    private async Task SaveAsync()
    {        
        await context.Save(Content);
        ShowList = true;
        LoadData();
    }

    private async Task SelectUnit(Product item)
    {
        var parameters = new DialogParameters
            {
                Title = "Select Unit",
                PrimaryAction = "Yes",
                PrimaryActionEnabled = true,    
                Width = "500px",
                Height = "500px",               
                Modal = false,
            };

        var unitItem = new ProductUnit();
        
        var dialog = await DialogService.ShowDialogAsync<UnitDialog>(unitItem, parameters);
        var dialogResult = await dialog.Result;
        await OnSelectUnitComplete(item,dialogResult);
    }

  private async Task OnSelectUnitComplete(Product item,DialogResult result)
    {        
        await Task.Delay(500);
        if (result.Cancelled)
        {
            return;
        }        

        if (result.Data is not null)
        {
            var itemRes = result.Data as ProductUnit;
            item.UnitID = itemRes!.UnitID;
        }        
    }

    private async Task EditLineAsync(Product item)
    {
        foreach(var line in items)
        {
            if (line.IsUpdate == true) return;
        }
        //Content = item;
        //ShowList = false;
        item.IsUpdate = true;
    }

    private async Task SaveLineAsync(Product item)
    {
        await context.Save(item);
        item.IsUpdate = false;
        LoadData();
    }

    private async Task CancelLineUpdate(Product item)
    {        
        item.IsUpdate = false;
        LoadData();
    }

    private async Task DeleteLineAsync(Product item)
    {

        if (item is null)
        {
            return;
        }

        var dialogParameters = new DialogParameters
            {
                Title = "Delete Item",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true
            };

        // var dialog = await dialogService.ShowDialogAsync<ConfirmationPanel>(dialogParameters);
        var dialog = await DialogService.ShowConfirmationAsync(
            "Are you sure you want to delete selected item?",
            "Yes",
            "No",
            "Delete Item?");
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var res = await context.Delete(item.RecID);
            LoadData();
        }

    }



    public class StringLengthComparer : IComparer<string>
    {
        public static readonly StringLengthComparer Instance = new StringLengthComparer();

        public int Compare(string? x, string? y)
        {
            if (x is null)
            {
                return y is null ? 0 : -1;
            }

            if (y is null)
            {
                return 1;
            }

            return x.Length.CompareTo(y.Length);
        }
    }



}

